<a href="https://colab.research.google.com/github/hazelnut-ty/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 3-1 언패킹

In [1]:
coordinates = (10, 20)

# 튜플 언패킹
x, y = coordinates
print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
# 리스트 언패킹
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
# 문자열 언패킹
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C

In [2]:
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]

# 함수값 return 언패킹
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}')

최솟값: 5, 최댓값: 32, 평균: 15.57

In [4]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]

# 반복문에서 언패킹 사용
for name, database, python, cloud in student_scores:
  average = (database + python + cloud) / 3
  print(f'{name}의 평균 점수: {average:.1f}')

김철수의 평균 점수: 85.0
이영희의 평균 점수: 91.7
박지민의 평균 점수: 82.7

In [5]:
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

# 1월, 2월 및 나머지 월 매출액
first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

# 1월, 12월 및 나머지 월 매출액
first, *middle, last = monthly_sales
print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

## 3-5 언더스코어

In [6]:
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]

# 이름 및 성적 만 출력
for _, name, _, _, grade in students:
    print(f'{name}의 성적: {grade}')

김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5

In [7]:
def get_coordinates( ):
    return (10, 20, 30)

# 함수 return 값 언더스코어 사용

_, y, _ = get_coordinates()
print(y)

20

## 3-2 예외 처리

In [ ]:
# number = int(input('정수를 입력하세요: '))
# result = 10 / number
# print(f'결과: {result}')

In [8]:
number = int(input('정수를 입력하세요: '))

# try 문
try:
    result = 10 / number
    print(f'결과: {result}')

# except 문
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

정수를 입력하세요: 0
0으로 나눌 수 없습니다.

In [12]:
# try 문
try:
    number = int(input('숫자를 입력하세요: '))
    result = 10 / number
    print(f'결과: {result}')

# except 문 1
except ValueError:
    print('유효한 숫자를 입력해야 합니다.')

# except 문 2
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

# print(f'결과: {result}')

숫자를 입력하세요: 1
결과: 10.0

In [20]:
# try 문
try:
    file = open('data.csv', 'r')
    content = file.read( )
    print(content)

# except 문
except FileNotFoundError:
    print('파일을 찾을 수 없습니다.')

# fianlly 블럭
finally:
    print('파일 작업 종료.')
    if file is not None: file.close()

    # file.close( ) # AttributeError: 'NoneType' object has no attribute 'close'

파일을 찾을 수 없습니다.
파일 작업 종료.

## 3-3 함수형 프로그래밍

In [21]:
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

# 함수 정의: salary * 1.1
adjusted_salary = lambda salary: salary * 1.1
# 급여 인상
updated_salaries = {name: adjusted_salary(salary) for name, salary in employees.items()}

print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

In [30]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨
# def cel_to_fah(cel): return (cel * 9/5) + 32
celcius_to_fahrenheit = lambda cel: (cel * 9/5) + 32

# 온도 변환
# temperature_fahrenheit = [cel_to_fah(cel) for cel in temperature_celsius]
# temperature_fahrenheit = [celcius_to_fahrenheit(cel) for cel in temperature_celsius]
# temperature_fahrenheit = list(map(cel_to_fah, temperature_celsius))
temperature_fahrenheit = list(map(celcius_to_fahrenheit, temperature_celsius))

print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

In [32]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화
uppercase_words = list(map(lambda word: word.upper(), words))
print(uppercase_words)

['PYTHON', 'DATA', 'ANALYSIS']

In [33]:
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

# salary * 1.1
updated_employees = list(map(
    lambda emp: {'name': emp['name'], 'salary' : emp['salary'] * 1.1}, employees))

print('\n급여 인상 후:')

for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

급여 인상 후:
김지원: 4,070,000원
박민준: 7,700,000원
이서연: 4,840,000원
정현우: 3,850,000원

In [34]:
numbers = [10, 15, 20, 25, 30]

# 짝수 필터링
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[10, 20, 30]

In [35]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성
passed_students = list(filter(lambda stds: stds['score'] >= 70, osda_students))

for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

이름: 김지원, 점수: 85
이름: 박서연, 점수: 90
이름: 최예은, 점수: 78

In [37]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]

# 배열의 합
# max_value = reduce(lambda x, y: x + y, numbers)

# 최댓값 찾기
max_value = reduce(lambda x, y: x if x > y else y, numbers)

print(max_value)

9